@charset "UTF-8";

.wrapper {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-auto-rows: auto;
}

.box1 {
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 1;
	grid-row-end: 2;
}

#header {
	width: 100%;
	height: 200px;
	border-radius: 5px;
}

#header img {
	width: 100%;
	height: 200px;
}

.box2 {
	grid-column-start: 2;
	grid-column-end: 19;
	grid-row-start: 2;
	grid-row-end: 4;
}

.box2 img {
	width: 100%;
	height: 450px;
	margin-top: 100px;
}

.box3 {
	grid-column-start: 19;
	grid-column-end: 31;
	grid-row-start: 2;
	grid-row-end: 3;
}

.box3 table {
	width: 80%;
	height: 400px;
	margin-top: 100px;
	margin-left: 10%;
}

#th {
	border-top: 3px solid #e55450;
}

#td {
	border-top: 3px solid black;
}

#th2 {
	border-bottom: 3px solid black;
}

#td2 {
	border-bottom: 3px solid black;
}

.box3 table th {
	border-bottom: 1px solid black;
	width: 30%;
	font-size: 20px;
}

.box3 table td {
	border-bottom: 1px solid black;
	width: 100%;
	font-size: 20px;
}

.box3 div {
	width: 90%;
	height: 60.05px;
}

.box4 {
	grid-column-start: 20;
	grid-column-end: 30;
	grid-row-start: 3;
	grid-row-end: 4;
}

.res {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	text-align: center;
	border: 1px solid black;
	border: 1px solid black;
}

.box5 {
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 4;
	grid-row-end: 5;
}

.one {
	width: 100%;
	height: 90px;
}

.box6 {
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 5;
	grid-row-end: 6;
}

.box7 {
	grid-column-start: 1;
	grid-column-end: 31;
	grid-row-start: 6;
	grid-row-end: 7;
}